<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Method Not Allowed</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">

</head>
<body>

<!--Nav Bar (header)-->
<nav class="navbar navbar-light" style="background-color: #A8E4A0;">
    <a class="navbar-brand" href="#" > <b>PHARMA - HTTP ERROR 405</b> </a>
</nav>
<!--header end-->

<br>

<div class="container">
    <div align="center">



        <h1 style="color: darkgreen">This page isn't working</h1>
        <h2 style="color: crimson">If the problem continues, contact the site owner.</h2>



        <br>

    </div> <!--End of div align="center"  -->


</div><!--End of div class="container" -->


</body>
</html>