<!--This is an Admin Page-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Delete User Confirmation</title>

</head>

<!--Nav Bar (header)-->
<nav class="navbar navbar-light" style="background-color: #A8E4A0;">
    <a class="navbar-brand" href="#" > PHARMA </a>
</nav>
<!--header end-->

<body>

<br>

<div class="container">
    <div align="center">

        <form th:action="@{/supplier/deletedrug/{id}}" action="/supplier/deletedrug/{id}" method="get">
            <div class="form-group">

                <h3>Are You Sure ?</h3>

                <label for="drug_id">Drug ID</label>
                <input type="text"
                       id="drug_id"
                       class="form-control"
                       th:value="${id}"
                       name="drug_id"
                       style="width: 300px"
                       readonly>

                <label for="name">Name</label>
                <input type="text"
                       id="name"
                       class="form-control"
                       th:value="${name}"
                       name="name"
                       style="width: 300px"
                       readonly>

                <label for="descripion">Descripion</label>
                <input type="text"
                       id="descripion"
                       class="form-control"
                       th:value="${descripion}"
                       name="descripion"
                       style="width: 300px; height: 100px"
                       readonly>

                <label for="unit">Contact</label>
                <input type="text"
                       id="unit"
                       class="form-control"
                       th:value="${unit}"
                       style="width: 300px"
                       name="unit"
                       readonly>

                <label for="price">Password</label>
                <input type="text"
                       id="price"
                       class="form-control"
                       th:value="${price}"
                       name="price"
                       style="width: 300px"
                       readonly>


                <br>

                <br>
                <label for="price"><b>Confirm Delete : </b></label>
                <input type="submit" class="btn btn-success" value="Delete">
            </div>
        </form>

    </div><!-- End of align center div -->

</div><!-- End of div class container -->

<!--Footer-->
<div class="card text-center">
    <div class="card-footer text-muted fixed-bottom">
        Pharma - Pharmacy Management System 2022
    </div>

</div><!--End of class="card text-center"-->
<!--End of Footer-->
</body>
</html>