<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Delivered Orders</title>
</head>
<body>

<!--Start of Pharmacist Authorization-->
<div sec:authorize="hasAnyAuthority('ROLE_USER')">


    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #A8E4A0;">
        <a class="navbar-brand" th:href="@{/user/viewallorders/{status}(status='Delivered')}">PHARMA - Pharmacist</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user/viewallorders/{status}(status='Delivered')}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/user/viewallbuydrugs}" > Buy Drugs </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewonthewayorders/{email}/{status}(email=${useremail.getUsername()},status='On The Way')}">View On the Way Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewdeliveredorders/{email}/{status}(email=${useremail.getUsername()},status='Delivered')}" >View Order History</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewprofile/{email}(email=${useremail.getUsername()})}" >View Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/contactadminpage}">Contact Admin</a>
                </li>

            </ul>


            <li class="nav-link">
                <a class="nav-link" th:href="@{/logout}">Log Out</a>
            </li>
        </div> <!--End of class="collapse navbar-collapse"-->

    </nav>
    <!--End of Header-->


    <br>
    <div align="center"> <h5>Your Order History</h5></div>


    <div align="center">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
                <th scope="col">Pharmacist</th>
                <th scope="col">Ordered Date</th>
                <th scope="col">Status</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="Order: ${pharmacist_orderlist}">
                <td th:text="${Order.order_id}"></td>
                <td th:text="${Order.drugname}"></td>
                <td th:text="${Order.qnty}"></td>
                <td th:text="${Order.unit}"></td>
                <td th:text="${Order.price}"></td>
                <td th:text="${Order.total}"></td>
                <td th:text="${Order.email}"></td>
                <td th:text="${Order.date}"></td>
                <td th:text="${Order.status}"></td>
            </tr>
            </tbody>
        </table>
    </div><!--END OF div align center-->

    <br><br>
    <!--Footer-->
    <div class="card text-center">
        <div class="card-footer text-muted fixed-bottom">
            Pharma - Pharmacy Management System 2022
        </div>

    </div><!--End of class="card text-center"-->
    <!--End of Footer-->


</div>
<!--End of Pharmacist Authorization-->









<!--If logged in user is not pharmacist-->
<div sec:authorize="hasAnyAuthority('ROLE_SUPPLIER','ROLE_ADMIN')">

    <!--Nav Bar (header)-->
    <nav class="navbar navbar-light" style="background-color: #A8E4A0;">
        <a class="navbar-brand" href="#" > <b>PHARMA - No Permission To View</b> </a>
    </nav>
    <!--header end-->

    <div align="center">

        <img src="https://techlazza.com/wp-content/uploads/2021/03/for-to-fix-403-main.jpg" width="1200px" class="align-content-xxl-stretch" alt="403">

    </div> <!--End of div align="center"  -->

</div>
<!--End Of -If logged in user is not pharmacist-->








</body>
</html>