<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit Profile</title>

</head>

<!--Nav Bar (header)-->
<nav class="navbar navbar-light" style="background-color: #A8E4A0;">
    <a class="navbar-brand" href="#" > PHARMA - Pharmacist </a>
</nav>
<!--header end-->

<body>

<br>

<div class="container" >
    <div align="center">

        <form  >
            <div class="form-group">

                <h5>Edit Profile</h5>

                <label for="user_id">User ID</label>
                <input type="text"
                       id="user_id"
                       class="form-control"
                       th:value="${id}"
                       name="user_id"
                       style="width: 300px"
                       readonly>

                <label for="name">Full Name</label>
                <input type="text"
                       id="name"
                       class="form-control"
                       th:value="${name}"
                       name="name"
                       style="width: 300px">

                <label for="email">Email</label>
                <input type="text"
                       id="email"
                       class="form-control"
                       th:value="${email}"
                       name="email"
                       style="width: 300px">

                <label for="contact">Contact</label>
                <input type="text"
                       id="contact"
                       class="form-control"
                       th:value="${contact}"
                       style="width: 300px"
                       name="contact">

                <label for="password">Password(Encrypted)</label>
                <input type="text"
                       id="password"
                       class="form-control"
                       th:value="${password}"
                       name="password"
                       style="width: 300px"
                       readonly>


                <br>
                <input type="button" class="btn btn-success" value="UPDATE PROFILE">
            </div>
        </form>

    </div><!-- End of align center div -->

</div><!-- End of div class container -->

<!--Footer-->
<div class="card text-center">
    <div class="card-footer text-muted fixed-bottom">
        Pharma - Pharmacy Management System 2022
    </div>

</div><!--End of class="card text-center"-->
<!--End of Footer-->

</body>
</html>