<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit Drug</title>

</head>

<!--Nav Bar (header)-->
<nav class="navbar navbar-light" style="background-color: #A8E4A0;">
    <a class="navbar-brand" href="#" > PHARMA - Supplier</a>
</nav>
<!--header end-->

<body>

<br>

<div class="container" >
    <div align="center">

        <form th:action="@{/supplier/updatedrug}" action="/supplier/updatedrug" method="post">
            <div class="form-group">

                <h5>Edit Drug Details</h5>

                <label for="drug_id">Drug ID</label>
                <input type="text"
                       id="drug_id"
                       class="form-control"
                       th:value="${id}"
                       name="drug_id"
                       style="width: 300px"
                       readonly>

                <label for="name">Drug Name</label>
                <input type="text"
                       id="name"
                       class="form-control"
                       th:value="${name}"
                       name="name"
                       style="width: 300px">

                <label for="description">Description</label>
                <input type="text"
                       id="description"
                       class="form-control"
                       th:value="${description}"
                       name="description"
                       style="width: 500px;height: 140px;">

                <label for="price">Price</label>
                <input type="number"
                       id="price"
                       class="form-control"
                       th:value="${price}"
                       style="width: 300px"
                       name="price">

                <label for="unit">Unit</label>
                <input type="text"
                       id="unit"
                       class="form-control"
                       th:value="${unit}"
                       name="unit"
                       style="width: 300px">


                <br>
                <input type="submit" class="btn btn-success" value="UPDATE DRUG DETAILS">
            </div>
        </form>

    </div><!-- End of align center div -->

</div><!-- End of div class container -->

<!--Footer-->
<div class="card text-center">
    <div class="card-footer text-muted fixed-bottom">
        Pharma - Pharmacy Management System 2022
    </div>

</div><!--End of class="card text-center"-->
<!--End of Footer-->

</body>
</html>