<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">

</head>
<body>

<!--Nav Bar (header)-->
<nav class="navbar navbar-light" style="background-color: #A8E4A0;">
    <a class="navbar-brand" href="#" > PHARMA </a>
</nav>
<!--header end-->

<br>

<div class="container">
    <div align="center">


<!--&lt;!&ndash;    Logo of pharmacy management system    &ndash;&gt;-->
<!--        <img src="Image/pharma_logo.png" alt="Pharma Logo" style="width:300px;height:220px;">-->

        <form th:action="@{/login}" method="post">

            <!-- Error message when email and password is invalid-->
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid username or
                    password entered</div>

            </div> <!--End of div th:if="${param.error}" -->

            <!--Logout message displayed after user logs out-->
            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out from our application</div>

            </div><!--End of div th:if="${param.logout}" -->

            <div class = "form-group">
                <!--Enter username textview and edit text-->
                <label for ="username"> Email </label> :

                <input type="text"
                       class = "form-control"
                       id ="username"
                       name = "username"
                       placeholder="Enter Your Email"
                       style="width:400px;"
                />

                <!--Enter password textview and edit text-->
                <label for="password"> Password </label> :

                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Enter Your Password"
                       style="width:400px;"
                />

            </div> <!--End of div class = "form-group" -->
            <br><br>

            <div align="center">

                <button type="submit"
                        name="login-submit"
                        id="login-submit"
                        class="btn btn-success"
                        style="color: white;
                              width:400px;"
                >Log In</button>

            </div> <!--End of div align="center" for login button -->


        </form>

        <br>

        <div align="center">

            <div class="form-group">


                <span>Don't have an account ? <a href="/" th:href="@{/registration}">Register</a></span>



            </div><!--End of div class="form-group" for register button -->

        </div> <!--End of div align="center" for register button -->


    </div><!--End of div align="center" -->

</div> <!--End of div class="container" -->

</body>
</html>