<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>

<!--Nav Bar (header)-->
<nav class="navbar navbar-light" style="background-color: #A8E4A0;">
    <a class="navbar-brand" href="#" > PHARMA </a>
</nav>

<br>

<div class="container">
    <div align="center">

<!--    Logo of pharmacy management system    -->
        <img src="Image/pharma_logo.png" alt="Pharma Logo" style="width:300px;height:220px;">

        <form th:action="@{/login}" method="post">

            <div class = "form-group">
                <!--Enter username textview and edit text-->
                <label for ="username"> Email </label> :

                <input type="text"
                       class = "form-control"
                       id ="username"
                       name = "username"
                       placeholder="Enter Your Email"
                       style="width:400px;"
                />

                <!--Enter password textview and edit text-->
                <label for="password"> Password </label> :

                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Enter Your Password"
                       style="width:400px;"
                />

            </div> <!--End of div class = "form-group" -->
            <br><br>

            <div align="center">
                <input type="submit"
                       name="login-submit"
                       id="login-submit"
                       class="form-control btn btn-primary"
                       value="Log In"
                       style="color: black;
                              background-color: #7CFC00;
                              border-color: green;
                              width:400px;"
                />
            </div> <!--End of div align="center" for login button -->


        </form>

        <br><br>

        <div align="center">

            <div class="form-group">

                <h5>Don't have an account ?</h5>

                <a class="btn btn-primary"
                   href="/" th:href="@{/registration}"
                   style="color: black;
                              background-color: #009E60;
                              border-color: #7CFC00;"
                >
                    Register
                </a>

            </div><!--End of div class="form-group" for register button -->

        </div> <!--End of div align="center" for register button -->


    </div><!--End of div align="center" -->

</div> <!--End of div class="container" -->

</body>
</html>